.box{
    padding: 15px 20px;

}

/* .box:hover{
    background-color: gainsboro;
    border-radius: 5px;
} */

.icon{
    display: flex;
    justify-content: center;        
    margin: auto;
    margin-bottom: 10px;
}

.text{
    display: block;
    margin: auto;
}