@import url("https://fonts.googleapis.com/css?family=Overpass");


.tags_input {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	min-height: 48px;
	width: 480px;
	padding: 0 8px;
	border: 1px solid rgb(214, 216, 218);
	border-radius: 6px;
	border: 1px solid #0052cc;
}

.tagsInput {
		flex: 10;
		border: "0px solid black";
		font-size: 14px;
	}

.tags {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 8px 0 0 0;
}

.tag {
	width: auto;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	padding: 0 8px;
	font-size: 14px;
	list-style: none;
	border-radius: 6px;
	margin: 0 8px 8px 0;
	background: #0052cc;
}

@media screen and (max-width: 567px) {
	.tagsInput {
		width: calc(100vw - 32px);
	}
}
